.first-container-fluid .container {
    padding: 6px;
}

.first-container-fluid {
    background-color: #47e949;
}

.first-container-fluid .container ul.nav li.nav-item a.nav-link {
    color: #fff;
}

.first-container-fluid .container ul.nav li.nav-item a {
    border-radius: 0;
}

.first-container-fluid .container ul.nav li.nav-item a.active {
    background-color: #eceaea;
    color: #000;
    font-weight: bold;
}

.first-container-fluid .container ul.nav li.nav-item a:hover {
    background-color: rgba(0,0,0,.3);
    color: #fff;
}

.second-container-fluid img {
    margin: 0 auto;
    display: block;
    padding: 30px;
}

.third-container-fluid {
    background: url(../src/third/third-container.jpg) no-repeat center center;
    background-size: cover;
}

.third-container-fluid .container {
    padding: 140px 0;
}

.third-container-fluid .container label.title {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
}

.third-container-fluid .container p.paragraph {
    font-weight: bold;
}

.third-container-fluid .container input {
    background-color: rgba(0,0,0,.5);
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
}

.third-container-fluid .container input:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.3);
}

.fourth-container .row {
    margin-left: 0;
    margin-right: 0;
}

.fourth-container h4 {
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.fourth-container h5 {
    margin-bottom: 20px;
}

/* .fourth-container .row .fourth-container-img {
    background: url(../src/fourth/fourth-container.jpg) no-repeat center center;
    background-size: cover;
} */

.fourth-container .row .fourth-container-img {
    background: url(../src/client/full/her15.jpg) no-repeat center center;
    background-size: cover;
}

.fourth-container .row .fourth-container-paragraph {
    padding: 80px 20px;
}

.fourth-container .row .fourth-container-paragraph .title {
    font-weight: bold;
}

.fourth-container .row .fourth-container-paragraph .paragraph {
    text-align: justify;
}

.fourth-container .row .fourth-container-paragraph input {
    float: right;
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #b6b6b6;
    cursor: pointer;
}

.fifth-container-fluid {
    background-color: #47e949;
    color: #fff;
    text-align: center;
}

.fifth-container-fluid .container h3 {
    text-transform: uppercase;
    padding: 30px;
}

.fifth-container-fluid .container .row div img {
    width: auto;
    height: 200px;
}

.fifth-container-fluid .container .row div p.title {
    margin-top: 10px;
    font-weight: bold;
}

.sixth-container {
    margin: 0 auto;
}

.sixth-container .row div {
    padding: 50px;
}

.sixth-container .row div p {
    text-align: justify;
}

.sixth-container .row div input {
    background-color: #47e949;
    padding: 15px 50px;
    color: #fff;
    border: none;
    border-radius: 8px;
}

.sixth-container .row div input:hover {
    background-color: rgba(0,0,0,.4);
    cursor: pointer;
}

.seventh-container-fluid .container .row div img.img-galery {
    border: 6px solid #fff;
    border-radius: 8px;
    background-size: cover;
    width: 100%;
}

.seventh-container-fluid .container .row div img.img-galery:hover {
    -webkit-transition: all .5s ease-in-out;
    filter: grayscale(100%);
}

.seventh-container-fluid .container .row div input {
    border: none;
    border-radius: 8px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    padding: 10px;
    margin: 25px;
}

.eighth-container .row {
    margin: 10px;
}

.eighth-container .row .col-lg-12 {
    border: 1px solid #47e949;
    padding: 20px;
}

.eighth-container .row .col-lg-12 h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.nineth-container {
    margin-bottom: 30px;
}

.nineth-container .row .col-lg-6 .testing {
    border: 1px solid #47e949;
    width: 96%;
    margin-left: 10px;
    padding: 20px;
}

.nineth-container .row .col-lg-6 h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.eleventh-container-fluid {
    background-color: #47e949;
    padding: 10px;
}

.eleventh-container-fluid p {
    margin: 0;
    text-align: center;
    color: #fff;
}

.tenth-container-fluid .row .row-contact {
    background-color: #482929;
    color: #fff;
    padding: 40px;
}

.tenth-container-fluid .row .row-map {
    padding: 0;
    margin: 0;
}

.tenth-container-fluid .row .row-map iframe {
    width: 100%;
}

.tenth-container-fluid .row .row-contact .contact .credit-cards-logo {
    margin: 20px 0;
}

.tenth-container-fluid .row .row-contact .contact .credit-cards-logo div {
    margin-top: 15px;
    width: 80px;
    height: 40px;
    display: inline-block;
    cursor: pointer;
    filter: grayscale(95%);
}

.tenth-container-fluid .row .row-contact .contact .credit-cards-logo .credit-card-ae {
    background: url(../src/credit-cards/AE.jpg) no-repeat center center;
    background-size: cover;
}

.tenth-container-fluid .row .row-contact .contact .credit-cards-logo .credit-card-mc {
    background: url(../src/credit-cards/MC.png) no-repeat center center;
    background-size: cover;
}

.tenth-container-fluid .row .row-contact .contact .credit-cards-logo .credit-card-visa {
    background: url(../src/credit-cards/Visa.png) no-repeat center center;
    background-size: cover;
}

.tenth-container-fluid .row .row-contact .contact .credit-cards-logo .credit-card-paypal {
    background: url(../src/credit-cards/Paypal.png) no-repeat center center;
    background-size: cover;
}

@media only screen and (max-width: 990px) {
    .fourth-container .row .fourth-container-img {
        height: 350px;
    }

    .fourth-container .row .fourth-container-paragraph {
        padding: 30px 0;
    }

    .fifth-container-fluid .container .row div img {
        width: 100%;
        height: auto;
    }

    .fifth-container-fluid .container .row div p.paragraph {
        margin-bottom: 40px;
    }

    .sixth-container .row div {
        padding: 15px 5px 0 5px;
    }

    .sixth-container .row div input {
        width: 100%;
        margin-bottom: 30px;
    }

    .seventh-container-fluid .container .row div img.img-galery {
        height: 170px;
    }

    .eighth-container .row .col-lg-6 {
        width: 100%;
    }

    .nineth-container .row .col-lg-6 .testing {
        margin-bottom: 15px;
        margin-left: 10px;
        width: 97%;
    }

    .tenth-container-fluid .row .row-map {
        height: 300px;
    }
}

@media only screen and (max-width: 1200px){
    .seventh-container-fluid .container .row div img.img-galery {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
}

div.social_network {
    position: absolute;
    right: 10%;
    top: 10px;
    width: 30px;
    height: 15px;
    cursor: pointer;
}


div.social_network img {
    width: 100%;
}

div.social_network img {
    box-shadow: 0 2px 0 #fff;
}